@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/SideBarTemplate/HomePageStyle.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script>
            $(document).ready(function(){
           $('[data-toggle="offcanvas"]').click(function(){
               $("#navigation").toggleClass("hidden-xs");
           });
        });
    </script>
</head>

<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a href="#">
                        <img src="https://cdn-icons-png.flaticon.com/512/743/743007.png" alt="car_logo" style="width: 50px;"> <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li><a asp-controller="User" asp-action="ListOfCarsForUser"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li><a asp-controller="User" asp-action="UserBookingPage"><i class="bi bi-pencil-square" aria-hidden="true"></i><span class="hidden-xs hidden-sm">My Bookings</span></a></li>
                        <li><a asp-controller="User" asp-action="UserSearchPage"><i class="fa" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Search</span></a></li>
                        <li><a asp-controller="Home" asp-action="LogOut"><i class="fa" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Logout</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">

                <div class="user-dashboard">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>
